
tfgtfmthesisuam/tfgtfmthesisuam\.pdf

*.aux

*.mw

*.acn

*.glo

*.glsdefs

*.idx

*.ist

*.loa

*.loe

*.lof

tfgtfmthesisuam/tfgtfmthesisuam\.synctex\.gz

*.toc

*.out

*.ltb

*.lot

*.lol

*.log

2015_06_PlantillaMemoriaTFG_v2\.doc

*.pyc

codigo/\.idea/
codigo/venv/
codigo/instance/

codigo/flaskr\.egg-info/
