<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>

  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
</head>

<body>
<nav>
  <h1><a href="{{ url_for('index') }}">Mapa</a></h1>
</nav>

<section class="content">
  <div class="left-panel">
    <div id="map"></div>
    <div class="left-panel">
      <form name="form1" action="/query" method="post">
        <label for="date_init">Fecha de inicio</label>
        <input name="date_init" id="date_init" type="datetime" onblur="document.form2.date_init.value = this.value;">

        <label for="date_end">Fecha de fin</label>
        <input name="date_end" id="date_end" type="datetime" onblur="document.form2.date_end.value = this.value;">

        <hr>

        <label for="tel" style="padding-top:16px;">Teléfono Objetivo</label>
        <input name="tel" id="tel" value="{{ tel }}" required>
        <input type="checkbox" name="resto" value="resto" {% if resto %}checked{% endif %}>Mostrar el resto de teléfonos
        en la zona<br><br>

        <input type="submit" value="Buscar">

      </form>
    </div>

    <div class="right-panel">
      <hr style="margin-top:145px;">

      <form name="form2" action="/query2" method="post" style="padding-top:8px;">

        <input name="date_init" id="date_init" type="hidden">
        <input name="date_end" id="date_end" type="hidden">


        <label for="lat">Latitud</label>
        <input name="lat" id="lat" value="{{ lat }}" required>

        <label for="lon">Longitud</label>
        <input name="lon" id="lon" value="{{ lon }}" required>

        <label for="range">Radio (en metros)</label>
        <input name="range" id="range" value="{{ radio }}" required>
        <div class="slidecontainer">
          <label>Tiempo de estancia mínimo: <span id="demo"></span> minutos</label>
          <input name="slider" type="range" min="0" max="60" value="0" class="slider" id="slider">
        </div>
        <input type="submit" value="Buscar">
      </form>
    </div>
    <script>
      /**
       * Obtiene la fecha actual en formato datetime UTC YYYY-MM-DD hh:mm:ss
       *
       * @return {string} La fecha actual en el formato establecido.
       */
      function getCurrentDate() {
        let currentDate = new Date();

        let date = ("0" + currentDate.getDate()).slice(-2);
        let month = ("0" + (currentDate.getMonth() + 1)).slice(-2);//Be careful! January is 0 not 1
        let year = currentDate.getFullYear();
        let hour = ("0" + currentDate.getHours()).slice(-2);
        let minute = ("0" + currentDate.getMinutes()).slice(-2);
        let second = ("0" + currentDate.getSeconds()).slice(-2);

        return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
      }

      // Establecemos los valores por defecto en date_init y date_end
      document.form1.date_init.value =
        {% if date_init is defined %}
          "{{ date_init }}";
        {% else %}
          "2000-01-01 00:00:00";
        {% endif %}
      document.form1.date_end.value =
        {% if date_end is defined %}
          "{{ date_end }}";
        {% else %}
          getCurrentDate();
        {% endif %}

      //Con esta función hacemos que ambos forms compartan los input de fecha
      document.form2.date_init.value = document.form1.date_init.value;
      document.form2.date_end.value = document.form1.date_end.value;

      //Para actualizar el valor que aparece con el slider
      let slider = document.getElementById("slider");
      let output = document.getElementById("demo");
      slider.value =
      {% if slider is defined %}
        {{ slider }};
      {% else %}
        0;
      {% endif %}
      output.innerHTML = slider.value;

      slider.oninput = function () {
        output.innerHTML = this.value;
      }
    </script>
  </div>
  <div class="right-panel">
    <table id="data">
      <tr>
        <th>Teléfono Origen</th>
        <th>Teléfono Destino</th>
        <th>Fecha</th>
        <th>Duración (s)</th>
      </tr>
    </table>

  </div>
  <script>


    /**
     * Esta función se encarga de insertar un value en el hashmap<coordinate,value>
     * Internamente compara el object para ver si ya existía otro coordinate con los mismos parámetros
     * Devuelve true si se ha insertado un coordinate nuevo, false en otro caso
     *
     *
     * @param {map}       hashmap   hashmap compuesto por pares <coordinate, string>.
     * @param {object}    object    objeto coordenada compuesta de una clave lat y otra lng
     * @param {string}    value     string que aparece asociada a esta clave
     *
     * @return {boolean} true si se ha insertado una clave coordinate nueva. False en otro caso
     */
    function MapInsertObject(hashmap, object, value) {
      for (const obj of hashmap.keys()) {
        /*Caso en que ya existía otro objeto con los mismos parámetros*/
        if (JSON.stringify(obj) === JSON.stringify(object)) {
          //Se añade el texto en value
          hashmap.set(obj, hashmap.get(obj) + value);
          return false;
        }
      }
      //si no estaba en el hashmap se crea una nueva clave y valor
      hashmap.set(object, value);
      return true;
    }

    let map;

    /**
     * Carga el mapa con los resultados del formulario.
     * Esencialmente hay 3 casos sobre lo que se muestra en el mapa:
     * - Cargar los resultados de la query por teléfono objetivo
     * - Cargar los resultados de la query por coordenadas y radio de búsqueda
     * - Cargar el mapa vacío
     *
     */
    function initMap() {
      //coordenadas por defecto en el mapa
      let centro = {lat: 8, lng: 38};
      let zoom = 15;
      let pathCoordinates = [], //lista de coordenadas que marcan una trayectoria
        ranges = [], //lista de rangos de alcance de las antenas
        circles = [], //círculos de radios de alcance en el mapa
        infowindows = [], //ventanas de información para los markers
        markers = []; //lista de marcadores en el mapa


      let coordinates; //par latitud y longitud para las coordenadas
      let content; //variable auxiliar para filas de la tabla de datos
      let contents = new Map(); //pares de clave-valor con coordinates de clave y un string de valor
      let text = []; /*Aquí se almacenará el html de las filas de las distintas tablas de datos*/
      let lastOpenedInfoWindow; //variable auxiliar para controlar el último infowindow abierto

      let lineSymbol = {
        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
      };/*flecha para las trayectorias*/


      {% if calls is defined and calls|length %} //Caso query por teléfono objetivo
        // centramos mapa usando el primer resultado
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ calls[0].Antenna.lat }}, lng: {{ calls[0].Antenna.lon }}},
          zoom: zoom,
        });

        {% for call in calls %}
          coordinates = {lat: {{ call.Antenna.lat }}, lng: {{ call.Antenna.lon }}};
          /*código html en cada fila de la tabla de datos*/
          content =
            {% if tel|int() == call.tel_o|int() %}
              '<tr style="background-color: hsl({{ tel }}, 75%, 90%);">' +
            {% else %}
              '<tr>' +
            {% endif %}
            '<td>' +
            '<form action="/query" method="post">' +
            '<input name="tel" type="hidden" value="{{ call.tel_o }}"/>' +
            '<input name="date_init"  type="hidden" value="{{ date_init }}">' +
            '<input name="date_end" type="hidden" value="{{ date_end }}">' +
            '<a href="#" onclick="this.parentNode.submit();">{{ call.tel_o }}</a>' +
            '</form>' +
            '</td>' +

            '<td>' +
            '<form action="/query" method="post">' +
            '<input name="tel" type="hidden" value="{{ call.tel_d }}"/>' +
            '<input name="date_init"  type="hidden" value="{{ date_init }}">' +
            '<input name="date_end" type="hidden" value="{{ date_end }}">' +
            '<a href="#" onclick="this.parentNode.submit();">{{ call.tel_d }}</a>' +
            '</form>' +
            '</td>' +

            '<td>{{ call.date_init }}</td>' +
            '<td>{{ call.duration }}</td>' +
            '</tr>';
          /*Insertamos los pares coordinates-content en el hashmap contents*/
          if (MapInsertObject(contents, coordinates, content) === true) {
            /*Si se trata de un coordinates nuevo, creamos un rango nuevo distinto*/
            ranges.push({{ call.Antenna.range }});
          }
          /*Metemos las coordenadas en la trayectoria*/
          pathCoordinates.push(coordinates);

        {% endfor %}
        let i = 0;
        for (const [key, value] of contents) {
          /*En key tenemos coordenadas distintas
          * En value tenemos el código html de las filas para cada coordenada*/

          infowindows.push(new google.maps.InfoWindow({
            content: '<b>latitud:</b> ' + key.lat + '<br><b>longitud:</b> ' + key.lng + '<br><b>radio (metros):</b> ' + ranges[i]
          }));
          /*Hacemos un array para cada tabla tener el html de sus filas*/
          text.push(value);
          // Creamos un marcador para la ubicación
          markers.push(new google.maps.Marker({
            position: key,
            map: map,
            title: 'Ubicación'
          }));
          // Creamos un círculo de radio de alcance para la ubicación
          circles.push(new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.1,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.1,
            map: map,
            center: key,
            radius: ranges[i]
          }));
          i++;
        }
        // Activamos los popups de los marcadores
        for (let i = 0; i < markers.length; i++) {
          markers[i].addListener("click", function () {
            //abrir marker cerrando el anterior si se clica
            if (lastOpenedInfoWindow) {
              lastOpenedInfoWindow.close();
            }
            infowindows[i].open(map, markers[i]);
            lastOpenedInfoWindow = infowindows[i];

            /*contenido que se muestra en la tabla si se clica una ubicación*/
            document.getElementById("data").innerHTML = '<tr>' +
              '<th>Teléfono Origen</th>' +
              '<th>Teléfono Destino</th>' +
              '<th>Fecha</th>' +
              '<th>Duración (s)</th>' +
              '</tr>' +
              text[i];
          })
        }

        // Pintamos las trayectorias
        let flightPath = new google.maps.Polyline({
          path: pathCoordinates,
          icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        flightPath.setMap(map);





      {% elif tels is defined and tels|length  %} //Caso query por coordenadas y radio de búsqueda
        //centramos en la ubicación filtrada
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ lat }}, lng: {{ lon }}},
          zoom: zoom,
        });

        {% for tel in tels %}
          coordinates = {lat: {{ tel.Antenna.lat }}, lng: {{ tel.Antenna.lon }}};
          /*código html en cada fila de la tabla de datos*/
          content =
            '<tr style="background-color: hsl({{ tel.tel_o }}, 75%, 90%);">' +
            '<td>' +
            '<form action="/query" method="post">' +
            '<input name="tel" type="hidden" value="{{ tel.tel_o }}"/>' +
            '<input name="date_init"  type="hidden" value="{{ date_init }}">' +
            '<input name="date_end" type="hidden" value="{{ date_end }}">' +
            '<a href="#" onclick="this.parentNode.submit();">{{ tel.tel_o }}</a>' +
            '</form>' +
            '</td>' +

            '<td>' +
            '<form action="/query" method="post">' +
            '<input name="tel" type="hidden" value="{{ tel.tel_d }}"/>' +
            '<input name="date_init"  type="hidden" value="{{ date_init }}">' +
            '<input name="date_end" type="hidden" value="{{ date_end }}">' +
            '<a href="#" onclick="this.parentNode.submit();">{{ tel.tel_d }}</a>' +
            '</form>' +
            '</td>' +

            '<td>{{ tel.date_init }}</td>' +
            '<td>{{ tel.duration }}</td>' +
            '</tr>';

          /*Insertamos los pares coordinates-content en el hashmap contents*/
          if (MapInsertObject(contents, coordinates, content) === true) {
            /*Si se trata de un coordinates nuevo, creamos un rango nuevo distinto*/
            ranges.push({{ tel.Antenna.range }});
          }

        {% endfor %}
        let i = 0;
        for (const [key, value] of contents) {
          /*En key tenemos coordenadas distintas
            * En value tenemos el código html de las filas para cada coordenada*/

          infowindows.push(new google.maps.InfoWindow({
            content: '<b>latitud:</b> ' + key.lat + '<br><b>longitud:</b> ' + key.lng + '<br><b>radio (metros):</b> ' + ranges[i]
          }));
          /*Hacemos un array para cada tabla tener el html de sus filas*/
          text.push(value);
          // Creamos un marcador para la ubicación
          markers.push(new google.maps.Marker({
            position: key,
            map: map,
            title: 'Ubicación'
          }));
          // Creamos un círculo de radio de alcance para la ubicación
          circles.push(new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.1,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.1,
            map: map,
            center: key,
            radius: ranges[i]
          }));
          i++;
        }
        /*Creamos un marcador para la ubicación filtrada de interés*/
        new google.maps.Marker({
          position: {lat: {{ lat }}, lng: {{ lon }}},
          map: map,
          title: 'latitud: ' + {{ lat }} +'\nlongitud: ' + {{ lon }} +'\nradio (metros): ' + {{ radio }}
        });
        /*Creamos una circunferencia de radio de búsqueda para la ubicación filtrada de interés*/
        new google.maps.Circle({
          strokeColor: '#0F0000',
          strokeOpacity: 0.1,
          strokeWeight: 2,
          fillColor: '#0F0000',
          fillOpacity: 0.1,
          map: map,
          center: {lat: {{ lat }}, lng: {{ lon }}},
          radius: {{ radio }}
        });
        // Activamos los popups de los marcadores
        for (let i = 0; i < markers.length; i++) {
          markers[i].addListener("click", function () {
            //abrir marker cerrando el anterior si se clica
            if (lastOpenedInfoWindow) {
              lastOpenedInfoWindow.close();
            }
            infowindows[i].open(map, markers[i]);
            lastOpenedInfoWindow = infowindows[i];

            /*contenido que se muestra en la tabla si se clica una ubicación*/
            document.getElementById("data").innerHTML = '<tr>' +
              '<th>Teléfono Origen</th>' +
              '<th>Teléfono Destino</th>' +
              '<th>Fecha</th>' +
              '<th>Duración (s)</th>' +
              '</tr>' +
              text[i];
          })
        }


      {% else %} /*mapa por defecto si la query está vacía*/
        map = new google.maps.Map(document.getElementById('map'), {
          center: centro,
          zoom: 5,
        });
      {% endif %}

    }
  </script>
  <!--Aquí hay que cambiar la API Key de Gmaps-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1cLa1Z2_iBh9jtBKnAEa9BQa9vo8-2oQ&callback=initMap"
          async defer></script>
</section>
</body>
