<!doctype html>
    <head>
        <title>Leaflet OverPass Layer demo page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet-overpass-layer/dist/OverPassLayer.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/leaflet-overpass-layer/dist/OverPassLayer.bundle.js') }}"></script>
    </head>
    <body>
        <nav>
          <h1><a href="{{ url_for('index') }}">Mapa {{ lat }}, {{ lon }}</a></h1>
          </nav>
        <section class="content">
          <header>
            {% block header %}Hola{% endblock %}
          </header>

          {% block content %}{% endblock %}
            <div id="mapid"></div>

            <script>
                var attr_osm = 'Map data &copy; <a href="http://openstreetmap.org/">OpenStreetMap</a> contributors';
                var attr_overpass = 'POI via <a href="http://www.overpass-api.de/">Overpass API</a>';

                var osm = new L.TileLayer(
                    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    {
                        'opacity': 0.7,
                        'attribution': [attr_osm, attr_overpass].join(', ')
                    }
                );

                var map = new L.Map('mapid')
                .addLayer(osm)
                .setView(new L.LatLng({{ lat }},{{ lon }}), 14);


                var opl = new L.OverPassLayer({
                    'query': '(way(around:100,{{ lat }},{{ lon }})[highway~"^(primary|secondary|tertiary|residential)$"][name]; >;);out;',
                    
                });

                map.addLayer(opl);
                L.marker([{{ lat }}, {{ lon }}]).addTo(map).bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
                /*
                {% for antena in antenas %}
                    L.marker([{{ antena['lat'] }}, {{ antena['lon'] }}]).addTo(map).bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
                {% endfor %}
                */
                var popup = L.popup();

                function onMapClick(e) {
                    popup
                        .setLatLng(e.latlng)
                        .setContent("You clicked the map at " + e.latlng.toString())
                        .openOn(map);
                }

                map.on('click', onMapClick);

            </script>
        </section>
    </body>
