<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>

  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<nav>
  <h1><a href="{{ url_for('index') }}">Mapa {{ lat }}, {{ lon }}</a></h1>
</nav>

<section class="content">
  <header>
    {% block header %}Hola{% endblock %}
  </header>
  {% block content %}{% endblock %}
  <div id="map"></div>
  <script>
    var map;
    var apiKey = 'AIzaSyB1cLa1Z2_iBh9jtBKnAEa9BQa9vo8-2oQ';

    function initMap() {
      var sol = {lat: 60, lng: 24};
      map = new google.maps.Map(document.getElementById('map'), {
        center: sol,
        zoom: 0,
      });
      var marker = new google.maps.Marker({position: sol, map: map});

      $.get('https://roads.googleapis.com/v1/nearestRoads?points=' + '60.170880,24.942795|40.4167278,-3.7033387' + '&key=' + apiKey,
        function (data) {
          for (var i = 0; i < data.snappedPoints.length; i++) {
            var latlng = new google.maps.LatLng(
              data.snappedPoints[i].location.latitude,
              data.snappedPoints[i].location.longitude);
            var marker = new google.maps.Marker({
              position: latlng,
              map: map
            });
          }
        }
      );
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1cLa1Z2_iBh9jtBKnAEa9BQa9vo8-2oQ&callback=initMap"
          async defer></script>


  <form action="/query" method="post">
    <label for="mcc">mcc</label>
    <input name="mcc" id="mcc" required>

    <label for="net">net</label>
    <input name="net" id="net" required>

    <label for="area">area</label>
    <input name="area" id="area" required>

    <label for="cell">cell</label>
    <input name="cell" id="cell" required>

    <input type="submit" value="Query">
  </form>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
</section>
</body>
